<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="exporters" name="Image Exporters" schema="schema/exporters.exsd"/>
   <extension
         point="org.topcased.modeler.export.exporters">
      <exporter
            class="org.topcased.modeler.exporter.SVGExporter"
            extension="svg"
            format="SVG"/>
      <exporter
            class="org.topcased.modeler.exporter.BMPExporter"
            extension="bmp"
            format="BMP"/>
      <exporter
            class="org.topcased.modeler.exporter.PNGExporter"
            extension="png"
            format="PNG"/>
      <exporter
            class="org.topcased.modeler.exporter.JPEGExporter"
            extension="jpg"
            format="JPEG"/>
      <exporter
            class="org.topcased.modeler.exporter.GIFExporter"
            extension="gif"
            format="GIF"/>
   </extension>
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			id="org.topcased.modeler.export.actions"
			targetID="org.topcased.modeler">
			<action
				id="org.topcased.modeler.export.internal.ui.Export2FileAction"
				class="org.topcased.modeler.export.internal.ui.Export2FileAction"
				icon="icons/export.gif"
				label="Export to file..."
				menubarPath="org.eclipse.gef.group.save"
				tooltip="Export the content of a graphical editor in an image"/>
		</viewerContribution>
	</extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="true"
          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
       <command
             commandId="org.topcased.modeler.export.exportAllDiagrams"
             icon="icons/exportAll.png"
             id="org.topcased.modeler.export.exportAllDiagrams"
             label="Export All Diagrams..."
             style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="and">
                <test
                      forcePluginActivation="true"
                      property="org.topcased.ui.resourcePropertyTester.isTopcasedDiFile">
                </test>
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.topcased.modeler.export.internal.ui.ExportAllDiagramsAction"
          commandId="org.topcased.modeler.export.exportAllDiagrams">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="org.topcased.modeler.export.exportAllDiagrams"
          name="ExportAllDiagrams">
    </command>
 </extension>

</plugin>
