<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         id="ImportPreferencesBatchMode"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="org.topcased.preferences.batch.ImportPreferencesApplication">
         </run>
      </application>
   </extension>

</plugin>
